<div class="about_section">
	<h1>About me</h1>
	<div class="avatar_box">
	<img src="https://avatars.githubusercontent.com/u/40983352?v=4" alt="Tobi Ajibade Avatar">
	</div>
	<p class="about_para">Hi i'm Tobi Ajibade, my folks calls me biggaji. Am a super software engineer based in Nigeria.</p>
</div>